@white: #ffffff;
@off-white: #dddddd;
@gray: #888;
@dark-gray: #666666;
@dark-blue: rgb(0, 71, 252);
@teal: #84CEEB;
@light-blue: rgb(123, 211, 255);
@purple: #8860D0;

body {
    background-image: url('/static/img/bw-triple-scaled.png');
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: @dark-blue;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin: 0px;
}

#mobile-background {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1000;
    @media(min-device-width: 750px) {
        display: none !important;
    }
}

h1 {
    font-family: 'Domine', serif;
}

iframe {
    margin-bottom: 30px;
}

.masthead {
    font-family: 'Domine', serif;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-weight: bold;
        color: @off-white;
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 180px;
        width: 100%;
        text-align: center;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
    .subtitle {
        font-weight: bold;
        color: @off-white;
        font-size: 30px;
        width: 100%;
        text-align: center;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
    .btn {
        border: 1px solid #444;
        border-radius: 3px;
        text-decoration: none;
        color: @white !important;
        background: @dark-gray;
        padding: 20px 15px;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 50px;
    }
}

.overview {
    height: auto;
    min-height: 100vh;
    padding: 20px;
    background-color: @gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1;
        h1 {
            color: @white;
            text-align: center;
        }
    }
    .content {
        flex: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        .img-container {
            flex: 1;
            height: 420px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 400px;
            }
        }
        p {
            font-weight: lighter;
            padding: 10px;
            color: #fff;
            flex: 2;
            font-size: 25px;
            text-align: justify;
            a {
                color: @light-blue !important;
                text-decoration: none;
                font-weight: bold;
            }
            a:hover {
                color: @dark-blue !important;
            }
        }
        @media (max-width: 700px) {
            flex-direction: column;
        }
    }
}

.demos {
    height: auto;
    min-height: 70vh;
    h1 {
        padding: 20px;
        color: @dark-gray;
        text-align: center;
    }
    padding: 50px;
    background-color: #ddd;
}

.contact {
    height: auto;
    height: 100vh;
    background: @dark-gray;
    .heading-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            vertical-align: middle;
            color: @white;
            text-align: center;
            margin-bottom: 40px
        }
    }
    .form-container {
        flex: 2;
    }
    form {
        width: 90%;
        max-width: 700px;
        input, textarea {
            width: 100%;
            margin-bottom: 20px;
            padding: 3px;
            border-radius: 1px;
            border: none;
            font-size: 15px;
            font-family: 'Arial';
        }
        margin: auto;
        #submit-button {
            margin-top: 20px;
            padding: 10px 17px;
            background: @gray;
            color: @white;
            border-radius: 3px;
            border: none;
            font-size: 15px;
        }
        button:disabled {
            opacity: 0.5;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


