@white: #ffffff;
@gray: #C1C8E4;
@dark-blue: #5680E9;
@teal: #84CEEB;
@light-blue: #5AB9EA;
@purple: #8860D0;

body {
    background-image: url('/static/img/studio_bw.jpeg');
    background-size: cover;
    -moz-background-size: cover;
    background-position: top;
    color: @dark-blue;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.masthead {
    height: 100vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
        color: @white;
        font-size: 50px;
        width: 100%;
        text-align: center;
        text-shadow: #000 0 0 5px;
    }
    .subtitle {
        color: @white;
        font-size: 30px;
        width: 100%;
        text-align: center;
        text-shadow: #000 0 0 5px;
    }
}

.contact {
    background: @dark-blue;
    padding: 50px;
    h1 {
        color: @white;
        text-align: center;
        margin-bottom: 40px
    }
    form {
        max-width: 700px;
        input, textarea {
            width: 100%;
            margin-bottom: 20px;
            padding: 3px;
            border-radius: 1px;
            border: none;
        }
        margin: auto;
        .submit-button {
            padding: 5px 12px;
            background: @light-blue;
            color: @white;
            border-radius: 3px;
            border: none;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
}


