body {
  background-image: url('/static/img/bw-triple-scaled.png');
  background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #5680E9;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}
iframe {
  margin-bottom: 30px;
}
.masthead {
  height: 100vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masthead .title {
  color: #ffffff;
  font-size: 50px;
  width: 100%;
  text-align: center;
  text-shadow: #000 0 0 15px;
}
.masthead .subtitle {
  color: #ffffff;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-shadow: #000 0 0 15px;
}
.overview {
  height: auto;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #888;
}
.overview .img-container {
  flex: 1;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview .img-container img {
  height: 400px;
}
.overview p {
  padding: 10px;
  color: #fff;
  flex: 2;
  font-size: 25px;
  text-align: justify;
}
.overview p a {
  color: #5AB9EA !important;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 700px) {
  .overview {
    flex-direction: column;
  }
}
.demos {
  height: auto;
  min-height: 70vh;
  padding: 50px;
  background-color: #ddd;
}
.demos h2 {
  padding: 20px;
  color: #666;
  text-align: center;
}
.contact {
  height: auto;
  height: 100vh;
  background: #5680E9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact .heading-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .heading-container h1 {
  vertical-align: middle;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
.contact .form-container {
  flex: 2;
}
.contact form {
  width: 90%;
  max-width: 700px;
  margin: auto;
}
.contact form input,
.contact form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 3px;
  border-radius: 1px;
  border: none;
}
.contact form .submit-button {
  margin-top: 20px;
  padding: 5px 12px;
  background: #5AB9EA;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}
