{% extends 'layout.html' %}
{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
{{ super() }}
<header class="masthead">
    <div>
        <h1 class="title">Kelly McAllister</h1>
        <h2 class="subtitle">Voice Over Talent</h2>
        <a class="btn" href="#contact">Contact Kelly</a>
    </div>
</header>
<div class="overview">
    <div class="header-container">
        <h1>About Kelly</h1>
    </div>
    <div class="content">
        <div class="img-container">
            <img src="/static/img/bw_tree.jpg">
        </div>
        <p>Kelly is a professional actor and voice talent with experience in puppeteering. She is currently based in Fredericton, New Brunswick and is represented by <a href="http://www.tadavoiceworks.com/">Ta-Da Voiceworks</a>. She attended the Ottawa Theatre School Conservatory before graduating from Sheridan College. Past credits include Rose Nylund in <i>Thank You For Being a Friend</i> (Toronto Centre for the Performing Arts), Cat/Vanity in <i>The Blue Bird</i> (Theatre Aquarius Studio), and Kate Monster in <i>Avenue Q</i> (Theatre Erindale). </p>
    </div>
</div>
<div class="demos">
    <h1>Voice Demos</h1>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320257199&amp;color=%23847c8c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;show_teaser=true"></iframe>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320257085&amp;color=%23847c8c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;show_teaser=true"></iframe>
</div>
<div class="contact" id="contact">
    <div class="heading-container">
        <h1>Contact Kelly</h1>
    </div>
    <div class="form-container">
        <form action="/send_email" method="post">
            <input type="text" placeholder="Name" name="name" required>
            <input type="email" placeholder="Email" name="email" required>
            <textarea placeholder="Your message to Kelly" name="message" rows="10" cols="30" required></textarea>
            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="{{recaptcha}}"></div>
            <button id="submit-button" disabled>Submit</button>
        </form>
    </div>
</div>
{% endblock %}
