{% extends 'layout.html' %}
{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
{{ super() }}
<div>
    <header class="masthead">
        <div>
            <h1 class="title">Kelly McAllister</h1>
            <h2 class="subtitle">Voice Over Talent</h2>
        </div>
    </header>
    <div class="contact">
        <h1>Contact Kelly</h1>
        <form action="/send_email" method="post">
            <input type="text" placeholder="Name" name="name" required>
            <input type="email" placeholder="Email" name="email" required>
            <textarea placeholder="Your message to Kelly" name="message" rows="10" cols="30" required></textarea>
            <div class="g-recaptcha" data-sitekey="{{recaptcha}}"></div>
            <button class="submit-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
