<!DOCTYPE html>
<html>
    <head>
        <title>Kelly McAllister - Actor & Voice Over Talent</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/dist/bootstrap/css/bootstrap.min.css">
        <script src="/static/dist/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>Kelly McAllister <small>Actor & Voice Over Talent</small></h1>
        </div>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="/">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/voice">Voice</a></li>
                <li><a href="/theatre">Theatre</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
