<!DOCTYPE html>
<html>
    <head>
        <title>Kelly McAllister - Actor & Voice Over Talent</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/dist/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/dist/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <h1 class="purple text-center">Kelly McAllister</h1>
            <h4 class="purple text-center">Actor & Voice Over Talent</h4>
            <div class="top-menu">
                <div class="top-menu-item"><a href="/">About</a></div>
                <div class="top-menu-item"><a href="/contact">Contact</a></div>
                <div class="top-menu-item"><a href="/voice">Voice</a></div>
                <div class="top-menu-item"><a href="/theatre">Theatre</a></div>
            </div>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
